body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #e0f7fa; /* Cor de fundo suave */
    overflow-x: hidden; /* Garante que a página não tenha rolagem horizontal */
}

header {
    background-color: #00bcd4; /* Azul claro */
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header h2 {
    margin: 10px 0 0;
    font-size: 1.2em;
    font-style: italic;
}

main {
    padding: 20px;
    position: relative; /* Para garantir que o botão fique no topo da imagem */
}

.image-container {
    position: relative;
    width: 90vw; /* Largura da tela */
    height: 100vh; /* Altura da tela */
    overflow: hidden; /* Garante que a imagem não saia do contêiner */
    display: flex;
    justify-content: center;
    align-items: center;
}

#fishImage {
    position: absolute;
    width: auto;
    height: 80%; /* Ajusta a altura para que a imagem caiba na tela */
    transition: transform 1s ease; /* Suaviza o movimento da imagem */
}

button {
    background-color: #00bcd4; /* Azul claro */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    position: relative; /* Para posicionar o botão sobre a imagem */
    z-index: 1; /* Garante que o botão esteja acima da imagem */
}

button:hover {
    background-color: #0097a7; /* Azul mais escuro no hover */
}
